.card {
  width: 30vw;
  height: 70vh;
  border-radius: 10px; /* Optional: Adjust the border radius */
  display: flex;
  flex-direction: column;
}

.content {
  overflow: hidden;
  overflow-y: auto;
  ::-webkit-scrollbar {
    display: none;
  }
}


ion-card * {
  font-size: 50px; /* Set the desired font size here */
}