// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/


:root {
  --ion-font-family: 'baloo-regular';
  --joke-font-size: 40px;
}

@font-face {
  font-family: 'baloo-regular';
  src: url('./Baloo-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}