.fullheight {
  height: 100%;
  display: flex;
  justify-content: center; /* Center vertically */
}

.center-vertical {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center the swiper-container vertically */
}

.swiper-wrapper {
  width: 100%; /* Ensure the swiper-wrapper takes full width */
}

.swiper-slide {
  display: flex;
  align-items: center; /* Center content vertically within each slide */
  justify-content: center; /* Center content horizontally if needed */
}